<!DOCTYPE html>
<html>
    <head>
        <title>Agregar Review</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="/CSS/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #1c1c1c">
            <div class="container-fluid">
                <i class="fa fa-film" style="color: white; font-size: 24px; margin-right: 20px"></i>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/peliculas">Películas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/usuarios">Usuarios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <body>
    <h1 class="header">Agregar Review</h1>

    <form action="/review/agregar" method="post">
        <h2>New Review</h2>
        <div class="field">
            <label>Autor </label>
            <input id="autor-review" type="text" name="autor" placeholder="El autor" required/>
        </div>
        <br>
        <div class="field">
            <label>Contenido </label>
            <textarea id="contenido-review" name="contenido" placeholder="El contenido" required></textarea>
        </div>
        <br>
        <div class="field">
            <label>Puntuacion </label>
            <input id="puntuacion-review" type="number" name="puntuacion" placeholder="La puntuacion" required/>
        </div>
        <p>
            <button onclick="location.href='/reviews'; return false;">Cancel</button>
            <input type="submit" id="Save" value="Save"/>
        </p>
    </form>

    </body>
</html>