<!DOCTYPE html>
<html>
    <head>
        <title>Detalles Película</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="/CSS/styles.css">
    </head>

    <body>
        <h1 class="header2">Película</h1>
        <br>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="row">Nombre: </th>
                    <th scope="col">{{pelicula.nombre}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Género: </th>
                    <td>{{pelicula.genero}}</td>
                </tr>
                <tr>
                    <th scope="row">Director: </th>
                    <td>{{pelicula.director}}</td>
                </tr>
                <tr>
                    <th scope="row">Puntuación: </th>
                    <td>{{pelicula.puntuacion}}</td>
                </tr>
            </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger" id="remove-film" onclick="location.href='/pelicula/eliminar/{{pelicula.id}}'">Remove</button>
            <button type="button" class="btn btn-warning" id="edit-film" onclick="location.href='/pelicula/editar/{{pelicula.id}}'">Edit</button>
            <button type="button" class="btn btn-success" id="all-films" onclick="location.href='/peliculas'">All Films</button>
        </div>
    </body>
</html>