<!DOCTYPE html>
<html>
    <head>
        <title>Inicio Usuario</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!--Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="/CSS/styles.css">
    </head>

    <body class="background-primary">
        <h1 class="header">Inicio Usuario</h1>

        <form class="form-small" action="/" method="post">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="user-email" name="email" placeholder="name@example.com">
                <label for="user-email">Email address</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="user-name" name="nombre" placeholder="User Name">
                <label for="user-name">Name</label>
            </div>
            <br><br>
            <div class="center">
                <button type="submit" class="btn btn-primary btn-lg">Acceder</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='/usuario/agregar'">
                    Registrar
                </button>
            </div>
        </form>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
                integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
    </body>
</html>