<!DOCTYPE html>
<html>
    <head>
        <title>Películas</title>
        <!--Bootstrap/CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body style="background-color: #3f3f3f">
        <div>
            <h1 style="color: white; text-align: center; margin-top: 20px">Películas</h1>

            <div id="films">
                {{^peliculas}}
                    <h3>Sin películas</h3>
                {{/peliculas}}
                {{#peliculas}}
                    <a class="nombre" href="/pelicula/detalles/{{id}}">{{nombre}} </a>
                    <span class="puntuacion">Nota: {{puntuacion}}</span>
                    <br><br>
                {{/peliculas}}
            </div>


            <button id="create-film" onclick="location.href='/pelicula/agregar'">New film</button>
            <button id="reviews" onclick="location.href='/reviews'">Reviews</button>
        </div>
    </body>
</html>