<!DOCTYPE html>
<html>
    <head>
        <title>Películas</title>
    </head>

    <body>
        <h1 class="header">All films</h1>

        <div id="films">
            {{^peliculas}}
                <h3>Sin películas</h3>
            {{/peliculas}}
            {{#peliculas}}
                <a class="nombre" href="/pelicula/detalles/{{id}}">{{nombre}} </a>
                <span class="puntuacion">Nota: {{puntuacion}}</span>
                <br><br>
            {{/peliculas}}
        </div>

        <button id="create-film" onclick="location.href='/pelicula/agregar'">New film</button>
        <button id="reviews" onclick="location.href='/reviews'">Reviews</button>
    </body>
</html>